<%- include('../templates/head.ejs') %>
  </head>

  <body>
    <%- include('../templates/navigation.ejs') %>
      <main>
        <h1>Nothing there!</h1>
      </main>
<%- include('../templates/footer.ejs') %>