<%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../templates/navigation.ejs') %>

    <main>
        <h1>Sagor Rana</h1>
    </main>
<%- include('../templates/footer.ejs') %>